body {
    background-color: #e0e0e0;
}

#navbar {
    background-color: #000000;
    color : #ffffff;
}

#navbar a{
    color : #ffffff;
}

#barra_pesquisa {
    background-color: #ffffff;
}

#barra_pesquisa a{
    text-decoration: none;
    color: #000000;
}

#barra_pesquisa .barra_pesquisa_favorito{
    text-decoration: underline;
}

#categorias {
    padding: 5px;
}

#categorias a {
    text-decoration : none;
    color : #000000;
    margin-right: 10px;
    margin-left: 10px;
}

#categorias a:hover{
    color: #800080;
}